In [137]:
import os
from dotenv import load_dotenv
from dataClass import DataTable
from langchain_mistralai import ChatMistralAI
import json
import requests
import pandas as pd

In [138]:
with open('results/HardTablesR1/Valid/CEA/Valid.json') as f:
    data = json.load(f)

In [139]:
data.keys()

dict_keys(['ZRWO683W', 'DFRU6OJ0', 'K6V4GTW6', '9TBY92F4', 'WD26R4FS', '74WC7OJZ', 'F6RDR8QH', '85R8V29V', '5NFRSNRM', 'BHYT3JN7', 'OILKS9FV', '9MH2Y9EN', 'FS732WHP', '4LJOJTYF', '8WZYKTRA', '89GM9ZJW', '16MHVXS5', '6Z084BQH', '8DNBZBE4', '2SGE8L9D', 'CFYKPBO3', '42HO55NS', '11MUJE2L', 'R66991OZ', 'WTFHB5UP', '2VTB3DBW', 'Z654ZXNI', 'N1KLTFJS', 'KFVG2YJY', 'ZB1BTB4C', 'RK8I119S', 'Q152EVZN', '20051UTJ', 'DUTG5MAC', '1Z8NMAI3', 'ZMOMMK8W', 'VV5BYCMW', 'L7HPD1BN', '5GNQIAGC', '178ZXCD6', '5KTG4XNY', 'NQK7B1JD', 'QIYBVSKQ', '85TGR8P0', 'D8DO4SE7', 'NKNG2LAS', 'WWQXGBG9', '20N4YF98', 'WZ1WDBHS', '00X7C4X7', 'TSY759XE', 'A56OGETX', '74KL5PGJ'])

In [140]:
gt = pd.read_csv('data/HardTablesR1/DataSets/HardTablesR1/Valid/gt/cea_gt.csv', header=None)

In [163]:
filtered_df = gt[gt[0] == 'A56OGETX']

print(filtered_df)

            0  1  2                                          3
474  A56OGETX  1  0   http://www.wikidata.org/entity/Q64022460
475  A56OGETX  1  1   http://www.wikidata.org/entity/Q90838614
476  A56OGETX  2  0  http://www.wikidata.org/entity/Q111263037
477  A56OGETX  2  1  http://www.wikidata.org/entity/Q107368951
478  A56OGETX  3  0  http://www.wikidata.org/entity/Q111155014
479  A56OGETX  3  1  http://www.wikidata.org/entity/Q104641825
480  A56OGETX  4  0  http://www.wikidata.org/entity/Q108000749
481  A56OGETX  4  1  http://www.wikidata.org/entity/Q110881413

In [164]:
for el in data['A56OGETX']['cea']:
    print(el, data['A56OGETX']['cea'][el]['id'])

(0, 1) Q11126274
(1, 1) Q109803831
(2, 1) Q314224
(3, 1) Q110881413

In [165]:
table = pd.read_csv('data/HardTablesR1/DataSets/HardTablesR1/Valid/tables/A56OGETX.csv')
table

          col0         col1
0  Trcm#line 8  Südvorstadt
1           T6      Sirkeci
2           16     Ginnheim
3   Tram lie 6     Junikowo